@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quatt cento");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,700&display=swap');
.about-tools ul li, .contact-social-icons ul a li {
  text-align: center; }

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.break {
  clear: both;
  margin-top: 10px; }

@media (min-width: 768px) {
  .pull-right-sm {
    float: right !important; }

  .pull-left-sm {
    float: left !important; } }
@media (min-width: 992px) {
  .pull-right-md {
    float: right !important; }

  .pull-left-md {
    float: left !important; } }
@media (min-width: 1200px) {
  .pull-right-lg {
    float: right !important; }

  .pull-left-lg {
    float: left !important; } }
* {
  box-sizing: border-box; }

html {
  position: relative;
  height: 100%; }

img {
  width: 100%; }

body {
  height: 100%;
  font-family: "Barlow",Comfortaa, Helvetica, Arial, sans-serif;
  background-color: #1B1C1E;
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Barlow",Comfortaa, Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: bold;

  color: #FFFFFF; }

p {
  font-family: "Barlow", sans-serif;
  font-weight: lighter;
  color: #ffffff;
   }

body > .container-fluid {
  padding: 60px 15px 0; }

.container-fluid .text-muted {
  margin: 20px 0; }

.btn:focus, a:focus {
  outline: none !important; }

.navbar {
  height: 70px;
  background-color: transparent;
  background: transparent;
  border: none;
  color: #303030;
  z-index: 100;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s; }

.navbar-brand {
  display: none;
  margin-top: 10px;
  color: #303030;
  font-weight: 400; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  text-transform: lowercase;
  margin: 10px 5px 5px 5px;
  border-radius: 5px; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  border: 1px solid #303030; }
.navbar-default .navbar-nav > li > a:visited {
  color: #303030;
  text-decoration: none; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #303030; }
.navbar-default .navbar-toggle {
  border-color: #303030; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FFFFFF; }
  .navbar-default .navbar-toggle .icon-bar {
    color: #303030;
    background-color: #303030; }
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: #FFFFFF; }

/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: #FFFFFF;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px rgba(7, 55, 74, 0.2); }
  .navbar.solid .navbar-brand {
    display: inline-block;
    color: #303030;
    -webkit-transition: color 1s ease 0s;
    transition: color 1s ease 0s; }
  .navbar.solid .navbar-nav > li > a {
    color: #303030;
    -webkit-transition: color 1s ease 0s;
    transition: color 1s ease 0s; }

.cover {
  padding: 10% 0 10% 0; }
  .cover.top {
    padding: 15% 0 10% 0;
    height: 100vh;
    display: -webkit-box;
    display: flex;
    background-color: #1B1C1E; }
  .cover.bottom {
    padding: 10% 0 10% 0; }

.headline {
  padding-top: 6.25em; }
  @media screen and (min-width: 768px) {
    .headline {
      padding-top: 3.75em; } }
  @media screen and (min-width: 992px) {
    .headline {
      padding-top: 1.5625em; } }
  @media screen and (min-width: 1200px) {
    .headline {
      padding-top: 0px; } }

#about {
  background-color: #FFFFFF; }
  #about h2 {
    color: #1B1C1E; }

.profile-img {
  margin-bottom: 15px;
  width: 120px; }

.about, .about-info, .about-tools, .about-last {
  padding: 9% 10% 1% 10%;
  font-size: 1.25em; }
  .about-tools {
    padding-top: 4.375em;
    font-weight: 700;
    font-size: 1.5em; }
    @media screen and (min-width: 992px) {
      .about-tools {
        padding-top: 5.625em; } }
    .about-tools ul:first-child {
      padding-left: 0px; }
    .about-tools ul {
      color: #1B1C1E;
      list-style: none; }
      .about-tools ul li {
        padding-top: 0.75em; }
  .about-last {
    padding-top: 3.125em;
    padding-bottom: 0;
    font-size: 1.125em; }
    @media screen and (min-width: 992px) {
      .about-last {
        padding-top: 0; } }
    .about-last p {
      color: #1B1C1E; }

#portfolio {
  background-color: #1B1C1E; }
  #portfolio h2 {
    padding-bottom: 1.25em; }

@media screen and (min-width: 768px) {
  .portfolio-projects {
    margin-top: 0.625em; } }
.portfolio-projects--title {
  margin-top: 0.9375em; }
  @media screen and (min-width: 768px) {
    .portfolio-projects--title {
      margin-top: 20%; } }@media screen and (min-width: 1200px)
  @media screen and (min-width: 1200px) {
    .portfolio-projects--title {
      margin-top: 5%; } }
@media screen and (min-width: 768px) {
  .portfolio-projects--desc {
    margin-top: 10%;
    margin-bottom: 10%; } }
.portfolio-projects--btn {
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  margin-bottom: 1.25em; }
  .portfolio-projects--btn:hover {
    background: #FFFFFF;
    color: #303030; }
.portfolio-projects--image {
  margin-bottom: 1.875em;
  padding-top: 5%; }

#contact {
  background-color: #FFFFFF; }
  #contact h2 {
    color: #1B1C1E; }

.contact-social-icons p {
  color: #1B1C1E; }
.contact-social-icons ul a {
  color: #1B1C1E;
  list-style: none; }
  .contact-social-icons ul a:hover {
    color: #303030; }
  .contact-social-icons ul a li {
    display: inline-block;
    padding: 2%; }

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #FFFFFF;
  color: #303030; }

#scrollIcon, #scrollTopIcon {
  margin-top: 200px;
  padding: 10px;
  font-size: 1.5em;
  color: #FFFFFF;
  border: solid 2px #FFFFFF;
  border-radius: 50%; }

#scrollTopIcon {
  margin-top: 10px;
  font-size: 1em;
  color: #303030;
  border-color: #303030; }

.back-to-top {
  display: none; }
  .back-to-top.visible {
    display: block; }
    #ptag{
      font-size: 30px;
    }
    #htag{
        font-size: 50px;
    }
    .tilt-in-fwd-tr{-webkit-animation:tilt-in-fwd-tr .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-fwd-tr .6s cubic-bezier(.25,.46,.45,.94) both}
    @-webkit-keyframes tilt-in-fwd-tr{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}@keyframes tilt-in-fwd-tr{0%{-webkit-transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}

    @-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotateY(90deg) rotate(0deg);
  }
  60% {
    -webkit-transform: rotateY(90deg) rotate(-180deg);
  }
  100% {
    -webkit-transform: rotateY(90deg) rotate(-360deg);
  }
}
@-moz-keyframes orbit {
  0% {
    -moz-transform: rotateY(90deg) rotate(0deg);
  }
  60% {
    -moz-transform: rotateY(90deg) rotate(-180deg);
  }
  100% {
    -moz-transform: rotateY(90deg) rotate(-360deg);
  }
}
@keyframes orbit {
  0% {
    -webkit-transform: rotateY(90deg) rotate(0deg);
    -moz-transform: rotateY(90deg) rotate(0deg);
    -ms-transform: rotateY(90deg) rotate(0deg);
    -o-transform: rotateY(90deg) rotate(0deg);
    transform: rotateY(90deg) rotate(0deg);
  }
  60% {
    -webkit-transform: rotateY(90deg) rotate(-180deg);
    -moz-transform: rotateY(90deg) rotate(-180deg);
    -ms-transform: rotateY(90deg) rotate(-180deg);
    -o-transform: rotateY(90deg) rotate(-180deg);
    transform: rotateY(90deg) rotate(-180deg);
  }
  100% {
    -webkit-transform: rotateY(90deg) rotate(-360deg);
    -moz-transform: rotateY(90deg) rotate(-360deg);
    -ms-transform: rotateY(90deg) rotate(-360deg);
    -o-transform: rotateY(90deg) rotate(-360deg);
    transform: rotateY(90deg) rotate(-360deg);
  }
}
body {
  margin: 100px auto;
  text-align: center;
}

.button {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  position: relative;
  padding: 20px 30px 20px 70px;
  background: rgba(60, 162, 162, 0.6);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.button:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  color: rgba(0, 0, 0, 0.8);
  background: rgba(60, 162, 162, 0.8);
}
.button:hover > span {
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  -webkit-transform: rotateY(90deg) rotate(-360deg);
  -moz-transform: rotateY(90deg) rotate(-360deg);
  -ms-transform: rotateY(90deg) rotate(-360deg);
  -o-transform: rotateY(90deg) rotate(-360deg);
  transform: rotateY(90deg) rotate(-360deg);
}
.button > span {
  width: 80px;
  display: block;
  position: absolute;
  left: 0;
  top: -40px;
  bottom: -40px;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(90deg) rotate(0deg);
  -moz-transform: rotateY(90deg) rotate(0deg);
  -ms-transform: rotateY(90deg) rotate(0deg);
  -o-transform: rotateY(90deg) rotate(0deg);
  transform: rotateY(90deg) rotate(0deg);
}
.button > span > span {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 16px;
  height: 17px;
  left: 0;
  top: 50px;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
.button > span > span::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  margin-left: -7px;
  border-top: 16px solid rgba(0, 0, 0, 0.6);
  border-bottom: 0 solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}