button {
  border-radius: 4px;
  background-color: #fff;
  border: none;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px 0px 36px 0;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.4);
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 24px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

h5 {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
}
.project-t .p {
  margin-top: 20px;
  width: 85%;
  text-align: justify;
  text-justify: inter-word;
}

.project-t {
  padding: 0px 50px 50px 100px;
  text-align: justify;
  text-justify: inter-word;
}

.img {
  padding: 0px 100px 50px 0;
}

.col-lg-6 #a {
  text-decoration: none;
  color: #000;
}

h5.prj-title {
  margin-top: 50px;
  margin-left: 90px;
  padding: 0;
  margin-bottom: 0;
}

@media (max-width: 990px) {
  h5.prj-title {
    text-align: center;
    margin-left: 0;
  }
  .project-t {
    align-items: center;
    text-align: center;
    padding: 0 50px 25px 50px;
  }
  .project-t .p {
    text-align: center;
    width: 100%;
    padding: 30px 50px 0 50px;
  }

  .img {
    padding: 50px 100px 50px 100px;
  }
}
@media (max-width: 990px) {
  .project-t .p {
    text-align: center;
    width: 100%;
    padding: 30px 15px 0 15px;
  }

  .img {
    padding: 35px 50px 15px 50px;
  }
  h5.prj-title {
    margin-top: 10px;
  }
}

.img-fluid {
  margin-top: 0;
}

@media (max-width: 990px) {
  .project-t .p {
    padding: 0 15px 0 15px;
  }
}
