.contact-title {
  color: #272341 !important;
  font-size: 50px;
}

.icons {
  display: inline;
  margin: 0 25px 0 0;
}

.icon {
  text-align: center;
}

hr.style-f {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

p.copyright {
  color: black;
  text-align: center;
  font-size: 15px;
  padding-bottom: 50px;
}

@media (max-width: 600px) {
  .contact-title {
    font-size: 35px;
    margin-bottom: 50px;
  }
  hr.style-f {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
