.Whatido-title {
  color: var(--txtcolor);
  text-align: center;
  margin-bottom: 0;
}

.fullstack {
  font-size: 40px;
  font-weight: 501;
  margin-top: 50px;
  color: var(--txtcolor);
}

.img-fluid {
  margin-top: 100px;
}
.col-lg-5 {
  text-align: center;
}
.i {
  padding: 40px 25px 0px 25px;
}
.center {
  text-align: center;
  align-items: center;
  padding-left: 0;
}

.tags {
  display: inline;
  position: relative;
}

.tags:hover:after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  bottom: -40px;
  color: var(--s_color);
  content: attr(gloss);

  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 125px;
}

.tags:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 0 6px 6px 6px;
  bottom: -6px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

div.logo {
  margin-right: 95px;
  margin-left: 95px;
}

#whatido .box {
  margin: 80px 0px 50px 50px;
  font-size: 20px;
  text-align: left;
}
.box p {
  color: var(--txtcolor);
}
.vertical-center {
  display: flex;
  align-items: center;
}
@media (max-width: 990px) {
  .img-fluid {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .tags:hover:after {
    bottom: -23px;
  }
  .tags:hover:before {
    bottom: 10px;
  }
  .Whatido-title {
    font-size: 50px;
  }

  .fullstack {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .center .i-mobile {
    padding: 40px 25px 15px 25px;
  }
  div.logo {
    margin-right: 200px;
    margin-left: 200px;
  }
  #whatido .box {
    margin: 50px;
  }
}

@media (max-width: 750px) {
  div.logo {
    margin-right: 100px;
    margin-left: 100px;
  }
  #whatido p {
    text-align: left;
  }
  .i {
    padding: 20px 0px 0px 0px;
  }
}

@media (max-width: 590px) {
  .fullstack {
    margin-bottom: 0px;
  }
  .tags:hover:after {
    bottom: -35px;
  }
  .tags:hover:before {
    bottom: -2px;
  }
  div.logo {
    margin-left: 60px;
    margin-right: 60px;
  }
  #whatido .box {
    margin: 45px 20px 45px 20px;
    text-align: left;
  }
  .fullstack {
    font-size: 30px;
  }
  .i {
    padding: 40px 25px 10px 25px;
  }
}
